.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav ul li {
    margin-right: 30px;
}
.nav h1 {
    margin-left: 10px;
}