.recipes-div {
    display: grid;
    grid-template-columns: repeat(2,0.3fr);
    grid-template-rows: repeat(5,1.2fr);
    place-items: center;
    justify-content: center;
}

#recipe{
    font-family: Bookman Old Style,Poppins, sans-serif;
    font-style: thin;
    cursor: pointer;
}
#recipe::after {
    border: 1px solid black;
}
.recipe1,.recipe2,.recipe5,.recipe6,.recipe9 {
    text-align: center;
    width: 25vw;
    padding: 1.2em;
    margin: 1em;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    background-color: #4e87841f;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px; 
}